<p>chassis works!</p>
<div class="chassis-container">
  <div>{{calcService.formula}}</div>
  <div class="row">
    <app-button [symbols]="[deleteSymbol]" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="[clearSymbol]" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['*']" (eventEmitter)="keyPress($event)"></app-button>
  </div>
  <div class="row">
    <app-button [symbols]="['7']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['8']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['9']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['/']" (eventEmitter)="keyPress($event)"></app-button>
  </div>
  <div class="row">
    <app-button [symbols]="['4']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['5']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['6']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['+']" (eventEmitter)="keyPress($event)"></app-button>
  </div>
  <div class="row">
    <app-button [symbols]="['1']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['2']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['3']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['-']" (eventEmitter)="keyPress($event)"></app-button>
  </div>
  <div class="row">
    <app-button [symbols]="['0']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="['.']" (eventEmitter)="keyPress($event)"></app-button>
    <app-button [symbols]="[equalsSymbol,enterSymbol]" (eventEmitter)="keyPress($event)"></app-button>
  </div>
</div>

