.app-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: conic-gradient(#940a2d, #ab8e0d, #62a60f, #940a2d);
}
